/* Adjust the body */
body {
    background-color: rgb(213, 213, 213);
    margin: 0px 10px;
    padding: 0;
}

/* Create a container for content and footer */
.webcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Display for main content */
.content {
    flex-grow: 1;
}

/* Display for the footer */
.footer {
    height: 50px;
    text-align: center;
    background-color: grey;
    margin-top: 20px;
    border-radius: 10px;
}

/* Create a container for header navigation bar*/
#headercontainer {
    background-color: white;
    display: flex;
    border-radius: 10px;
    align-items: center;
}

/* Display each link inside the navigation bar */
.headerbox{
    flex: auto;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Bookstore logo inside the navigation bar*/
.logo {
    height: 50px;
}

/* Clear the text decoration of each link */
a {
    text-decoration: none;
    color: #000000; 
  }

/* Animation when point on the link */
a:hover {
    text-decoration: none;
    color: #7c7c7c; 
}

/* Build a table to display the book on it */
.booktable {
    background-color: white;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    font-size: 25px;
    border-collapse: separate;
    border-spacing: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Create a container to display books for each category */
.bookcontainer {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
}

/* Divide the space for each book inside the container */
.bookproduct {
    width: 33%;
    font-family: Arial, Helvetica, sans-serif;
}

/* scale the book image */
.bookproduct img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

/* Create the green button */
.addcartbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px 40px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ;
}

/* Add animation when point on the green button */
.addcartbutton:hover {
    background-color: grey;
    color: black;
}

/* Create the Blue button */
.showallbutton {
    background-color: #4c8caf;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px 40px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ;
}

/* Add animation when point on the blue button */
.showallbutton:hover {
    background-color: grey;
    color: black;
}

/* Create the table to display contain in the footer */
.tablefooter {
    background-color: grey;
    table-layout: fixed;
    width: 100%;
    font-size: 25px;
    border-collapse: separate;
    border-spacing: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Adjust the header for each part in the footer */
.tablefooterhead {
    border: 0;
    font-size: 25px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

/* Adjust information of each part in the footer */
.tablefooterinfo {
    border: 0;
    font-size: 20px;
    text-align: left;
    vertical-align: text-top;
}

/* Adjust the size of the input boxes inside Contact us page */
.infobox {
    width: 250px;
}

/* Divide boxes for each parts in the Contact us page container */
.infocontain {
    width: 50%;
    margin: 0 0;
}
/* Adjust the table contain images in the book detail pages */
.tablebookdetailimg {
    margin: auto;
}

/* Adjust the size of main book detail images */
.bookdetailimg {
    height: 400px;
    width: 300px;
}

/* Adjust the size of sub book detail images */
.subbookdetailimg {
    height: 150px;
    width: 100px;
}

/* Make the 3 sub book detail images display on the left of main images on desktop */
.mobile {
    display: none;
}

/* Make the 3 sub book detail images display on the left of main images on desktop */
.desktop {
    display: block;
}

/* Adjust the text in book description */
.bookdescription {
    text-align: left;
    font-size: 20px;
}

/* Adjust the size of the iframe in the footer */
.storelocation {
    width: 600px;
    height: 400px;
}

/* Responsive for mobile page */
@media only screen and (max-width: 960px) {
    /* Display the book boxes with 100% width in small screen */
    .bookproduct {
        width: 100%;
    }

    /* Display the navigation bar in column in small screen */
    #headercontainer {
        display: block;
    }

    /* Adjust the size of the book images in small screen */
    .bookproduct img {
        width: 100%;
        height: auto;
    }

    /* Adjust the font size of the text in footer in small screen */
    .tablefooterinfo {
        font-size: 15px;
    }

    /* Adjust the font size of the header of eac in small screen */
    .tablefooterhead {
        font-size: 20px;
    }

    /* Set the 100% width for each part of the Contact us page in small screen */
    .infocontain {
        width: 100%;
    }

    /* Adjust the size of main book detail images in small screen */
    .bookdetailimg {
        width: 100%;
        height: auto;
    }

    /* Adjust the size of sub book detail images in small screen */
    .subbookdetailimg {
        width: 100%;
        height: auto;
    }

    /* Adjust the margin of the add cart button in small screen */
    .addcartbutton {
        margin: 0px 0px ;
    }
    
    /* Adjust the iframes size in the small screen */
    .storelocation {
        height: 200px;
        width: 250px;
    }

    /* Make the 3 sub book detail images display on the bottom of main images on mobile */
    .desktop {
        display: none;
    }

    /* Make the 3 sub book detail images display on the bottom of main images on mobile */
    .mobile {
        display: block;
    }
}